.nav{
    width: 100%;
    padding: 7px 5px;
    color: #7158e2;
    margin: 0px;
    font-weight: bold;
    font-size: 1em;
    background-color: #ffaf40;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.nav .left-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav .right-nav{
    margin-left: auto;
}
.nav .right-nav a{
    background-color: #7158e2;
    color: beige;
}
.nav a{
    padding: 1px 3px;
}
.nav .rgstr-login{
    align-self: center;
    border: 1px solid #7158e2;
    border-radius: 5px;
    padding: 2px 5px;
}